/* 
   Terminator Styles
   GTK node reference: https://developer.gnome.org/gtk3/stable/GtkNotebook.html
   Other CSS reference: http://blog.nabam.net/workstation/2017/09/15/terminator_tabs/
*/

VteTerminal, vte-terminal {
    padding: 0.5rem;
}

.terminator-terminal-window notebook {
    border: none;
    margin: 0;
    padding: 0;
}

.terminator-terminal-window notebook header.top{
    border: none;
}

.terminator-terminal-window notebook tabs {
    background-color:#cccccc;
    padding: 0.3rem 0.5rem 0;
}

.terminator-terminal-window notebook tab {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    border-top-right-radius: 0.3rem;
    border-top-left-radius: 0.3rem;
    color: black;
    font-size: 0.9rem;
    font-weight: normal;
    padding: 0;
    margin: 0;
    min-height: 0;
}

.terminator-terminal-window notebook tab:hover {
    background-color: #e0e0e0;
}

.terminator-terminal-window notebook tab:checked {
    background-color: white;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
}

.terminator-terminal-window notebook tab:checked button {
    border-right: none;
}

.terminator-terminal-window notebook tab button {
    border-right: 1px solid darkgray;
    opacity: 1;
    margin: 0;
    padding: 0.5rem;
    min-height: 0;
    min-width: 0;
}